
@{
    ViewBag.Title = "TitleSearch";
}
<br />
Title:
<input type="text" id="title" class="form-control"
       oninput="search()" />
<!-- input type="button" id="search" value="Search by City"
        class="btn btn-default" onclick="search()" /-->

<table class="table table-striped" id="books">
    <!-- this is the inner HTML for #customers -->
</table>

<script type="text/javascript"
        src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function search() {
        $.ajax(
            {
                type: 'POST',
                url: '/Home/GetBooksByTitle',
                data: '{title: "' + document.getElementById("title").value
                    + '"}',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                success:
                    function (response) {
                        var tableHTML = "<tr><th>Author</th>"
                            + "<th>Title</th>"
                            + "<th>Year Published</th>"
                            + "<th>Publisher</th>"
                            + "<th>Genre</th></tr>";
                        for (var i = 0; i < response.length; i++) {
                            var Book = response[i];
                            var tr = "<tr><td>" + Book.Author + "</td>"
                                + "<td>" + Book.Title + "</td>"
                                + "<td>" + Book.YearPublished + "</td>"
                                + "<td>" + Book.Publisher + "</td>"
                                + "<td>" + Book.Genre + "</td>"
                                + "</tr>";
                            tableHTML += tr;
                        }
                        document.getElementById("books")
                            .innerHTML = tableHTML;
                    },
                failure: function (response) {
                    alert("Failure" + response.responseText);
                },
                error: function (response) {
                    alert("Error" + response.responseText);
                }
            }

        );
    }
</script>